@value whiteBasic from '../../css/colors.css';
@value blackBasic from '../../css/colors.css';
@value blueBasic from '../../css/colors.css';

.wrapper {
    width: 287px;
    position: fixed;
    left: 48px;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1px 4px rgba(165, 210, 220, 0.5);
    padding: 8px 16px 8px 8px;
    font-family: Alef, sans-serif;
    font-size: 12px;
    background-color: whiteBasic;
    color: blackBasic;
    z-index: 1;
}

.cookies {
    color: blueBasic;
}

.okButton {
    padding: 2px 6px;
    background-color: blueBasic;
    color: whiteBasic;
    font-size: 11px;
    border-radius: 50px;
}
