@value whiteBasic from '../../../../css/colors.css';
@value blackBasic from '../../../../css/colors.css';
@value blueBasic from '../../../../css/colors.css';
@value greyLight from '../../../../css/colors.css';

.footer {
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    min-height: 48px;
    background-color: whiteBasic;
    border-top: 1px solid blackBasic;
    color: blackBasic;
}

.footer a {
    cursor: pointer;
}

.developer {
    position: relative;
    left: 100px;
    font-family: AlefBold, sans-serif;
    font-size: 19px;
    text-align: center;
    line-height: 24px;
}

.developerName {
    color: blueBasic;
}

.contacts {
    font-family: Alef, sans-serif;
    font-size: 14px;
    text-align: right;
}

.contacts a:first-child{
    margin-right: 100px;
}

