@value blackBasic from '../../../../css/colors.css';
@value whiteBasic from '../../../../css/colors.css';
@value greyLight from '../../../../css/colors.css';

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whiteBasic;
    font-family: Athelas, sans-serif;
    font-size: 40px;
    color: blackBasic;
}

.topProducts {
    text-align: center;
    padding: 54px 48px 16px;
    background-color: greyLight;
}

.leftArrow {
    transform: rotate(180deg);
    cursor: pointer;
}

.rightArrow {
    cursor: pointer;
}

.allProducts {
    margin-top: 48px;
    font-family: Alef,sans-serif;
    font-size: 21px;
    text-decoration-line: underline;
    color: blackBasic;
    cursor: pointer;
}
