@value whiteBasic from '../../../../css/colors.css';
@value blackBasic from '../../../../css/colors.css';
@value greyLight from '../../../../css/colors.css';
@value blueBasic from '../../../../css/colors.css';

.productsPage {
    background-color: whiteBasic;
}

.categories {
    height: calc(100px - 36px);
    padding: 36px 48px 0;
    display: flex;
    justify-content: space-between;
    background-color: greyLight;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: blackBasic;
}

.categories li {
    max-width: 220px;
    text-align: center;
}

.productsAndFilters {
    display: flex;
    padding: 0 48px;
}

.filtersWrapper {
    padding-right: 48px;
    width: 320px;
    border-right: 1px solid blackBasic;
}

.filter {
    margin-top: 32px;
}

.radio, .filterName {
    max-width: 175px;
    margin-bottom: 8px;
    position: relative;
    left: 24px;
    font-family: Montserrat, sans-serif;
    line-height: 22px;
    color: blackBasic;
}

.filterName {
    margin-bottom: 16px;
    font-size: 18px;
    left: 0;
}

.radio:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: -24px;
    top: calc(50% - 8px);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid blackBasic;
}

.hidden {
    display: none;
}

.inputRange {
    height: 2px;
    position: relative;
    padding: 0 8px;
}

.track {
    left: 0;
    right: 0;
    top: 50%;
    background: blackBasic;
    cursor: pointer;
    display: block;
    position: relative;
    height: 2px;
}

.slider {
    appearance: none;
    display: block;
    outline: none;
    position: relative;
    top: -8px;
    width: 16px;
    height: 16px;
    background: whiteBasic;
    z-index: 1;
    cursor: pointer;
    border: 1px solid blackBasic;
    border-radius: 50%;
}

.sliderContainer span {
    display: none;
}

.sliderContainer div {
    position: relative;
    left: -8px;
}

.priceInputs {
    position: relative;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.priceInputs input {
    position: relative;
    padding: 0 4px;
    width: 44px;
    border-radius: 5px;
    border: 1px solid blackBasic;
    outline: none;
}

.priceInputs:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 0.5px);
    height: 1px;
    width: 80px;
    background-color: blackBasic;

}

.products {
    width: 100%;
    padding: 16px 0 48px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
}
