@value whiteBasic from '../../css/colors.css';
@value blackBasic from '../../css/colors.css';
@value greyLight from '../../css/colors.css';

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greyLight;
    font-family: Athelas, sans-serif;
    font-size: 40px;
    color: blackBasic;
}

.products {
    padding: 32px 48px 64px;
    background-color: whiteBasic;
    text-align: center;
}

.productCategory{
    cursor: pointer;
}

.productCategory img{
    width: 100%;
}

.productCategory p{
    font-family: Montserrat,sans-serif;
    font-size: 64px;
    line-height: 78px;
    color: blackBasic;
}
